<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>{{ title }} - {{jkin}}</h1>
</mat-toolbar>
<mat-sidenav-container autosize="true" class="example-container">
    <mat-sidenav #sidenav mode="push" [(opened)]="opened">
        <nav>
            <button mat-button routerLink="/dashboard">Dashboard</button>
            <br/>
            <button mat-button routerLink="/heroes">Bad Guys List</button>
            <br/>
            <button mat-button routerLink="/tooltip">Tool Tip Test</button>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <app-messages></app-messages>
    </mat-sidenav-content>
</mat-sidenav-container>